tests/foo.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema
    xmlns="tag:rv1971@web.de,2021:alcamo-xsl#"
    xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="tag:rv1971@web.de,2021:alcamo-xsl#">

  <xsd:element name="foo" rdfs:label="Foo"/>

  <xsd:element name="bar" type="Bar"/>

  <xsd:element name="baz" type="Baz"/>

  <xsd:element name="qux"/>

  <xsd:complexType name="Bar" rdfs:label="Bar object"/>
</xsd:schema>
